<.flash_group flash={@flash} />
<main class="container mx-auto px-4 py-10 text-center">
  <h2 class="text-4xl font-semibold text-gray-800">Welcome to Open Boss</h2>
  <p class="mt-4 text-lg text-gray-600">
    Manage your devices and cooks effortlessly.
  </p>
  <div class="min-h-screen bg-custom-artwork bg-cover bg-no-repeat bg-center"></div>
</main>
