@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.bg-custom-artwork {
  /* background-image: url('/images/open_boss_embossed.png'); */
  background-image: url('/images/open_boss.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
