<div>
  <.header>
    {@title}
    <:subtitle>Edit Adapter</:subtitle>
  </.header>

  <.simple_form
    for={@form}
    id="edit-adapter-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <:actions>
      <.button phx-disable-with="Saving...">Save Adapter</.button>
    </:actions>
  </.simple_form>
</div>
